* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
    background-color: #000000;
    color: #fcfcfc;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    padding: 0.25rem;
    font-family: "univia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    cursor: default;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.5rem;
    color: aqua;
    font-weight: 100;
}
h6 {
    font-size: 1.5rem;
    color: aqua;
    margin-bottom: 1.5rem;
}

p {
    font-family: "univia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 0 0 2px #000;
}
#spreadspaceBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 250px 100px #000;
}
#spreadspaceBackground img {
    max-height: 100%;
    min-width: 100%;
    opacity: 0.1;
    z-index: -1001;
    animation-name: pulse;
    animation-duration: 12000ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
filter: hue-rotate(30deg);
    -webkit-filter: hue-rotate(30deg);
    -moz-filter: hue-rotate(30deg);
}
.spreadspace {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 1000;

}
.materials-list {
    position: relative;
    width: 90%;
    padding: 0.5rem;
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.materials-list iframe {
        /* left: 50%; */
        /* transform: translateX(-50%); */
        /* position: absolute; */
        width: 60%;
        height: auto;
        border-radius: 1rem;
}

.kqyaSY {
    display: none;
}
.dDaRrG {
    display: none;
}
.spreadspace-header, .spreadspace-body, .spreadspace-footer, .spreadspace-controls {
    backdrop-filter: blur(4px);
    background: repeating-linear-gradient(80deg, rgba(0, 0, 0, 0.2) 0%, rgba(118, 227, 242, 0.35) 60%, rgba(0, 0, 0, 0.196516106442577) 100%);
    border: solid 1px #bdbdbd50;
    margin-top: 3rem;
    width: 90%;
    margin-inline: auto;
    border-radius: 1rem;
}


.spreadspace-body-section {
    width: 100%;
}

.spreadspace-body-section h6 {
    background: repeating-linear-gradient(120deg, rgba(0, 0, 0, 0.5) 0%, rgba(118, 227, 242, 0.7) 60%, rgba(0, 0, 0, 0.25) 100%);
    border-bottom: solid 1px #bdbdbd50;
    box-shadow: inset 0 0 18px rgba(255, 255, 255, 0.35);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.spreadspace-body-section p {
    padding: 1rem;
}
.spreadspace-body-section-image  {
    width: 90%;
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spreadspace-body-section-image img {
    border-radius: 1rem;
    box-shadow:  0 0 20px rgba(0, 255, 255, 0.438);
    max-width: 100%;
    max-height: 95vh;
    opacity: 0.75;
    transition: ease-in-out 500ms;
}
.spreadspace-body-section-image img:hover {
    opacity: 1;
}
.spreadspace-footer p {
    text-align: center;
    padding: 0.5rem;
    font-family: "univia-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.75rem;
}
.spreadspace-footer a {
    color: aqua;
    font-family: "univia-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.75rem;
}
.spreadspace-controls {
    margin-bottom: 2.5rem;
}
.spreadspace-navigation-routes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    gap: 1rem;
}
.spreadspace-navigation-route a {
    font-weight: bold;
    /* text-decoration: none; */
    color: aqua;
    font-family: "univia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.spreadspace-footer {
    margin-bottom: 2.5rem;
}




@keyframes pulse {
    0% {
        opacity: 0.1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}